[submodule "saimouli.github.io"]
	path = saimouli.github.io
	url = https://github.com/saimouli/saimouli.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/saimouli/saimouli.github.io.git
	branch = main
